*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 0.1px;
    overflow-x: hidden;
}

#nav{
    height: 12vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1px;
}

#nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 26px;
    font-weight: 600;
}

#nav h2:nth-last-child(2){
    width: 29%;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#center{
    height: 90%;
    width: 100%;
    padding: 4vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 61%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2.5vw;
    color: #fff;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
}

#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid #000;
}

#page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page h1{
    bottom: 0;
}

#page1-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1635358154434-5254df331548?q=80&w=685&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-top: 2vw;
}


#page2-part2{
    height: 100%;
    width: 46%;
}

#page2-part2 img{
    height: 83%;
    width: 100%;
    object-fit: cover;
    margin-left: 1vw;
    margin-top: 1vw;
}

#part2-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vw;
}

#part2-text p{
    margin-left: 2vw;
}

#vogueshot h1{
    margin-left: 4vw;
    margin-top: -3vw;
    padding: 2vw 0;
}

#womensimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0.7vw;
    padding: 2vw 3.7vw;
}

#page3>h1{
    text-transform: uppercase;
    text-align: center;
    font-family: monument;
    font-size: 3vw;
    font-weight: 300;
    margin-bottom: 5vh;
}

.elem{
    height: 15.5vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img{
    height: 100px;
    width: 110px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part2{
    width: 45%;
}

.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}

.elem:hover img{
    opacity: 1;
    left: 24%;
}

#page4{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
    gap: 5vw;
}

#page4>img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-top: 0.8vw;
    padding-left: 1.4vw;

}

#page4-textpart{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#modelsimg{
    display: flex;
    height: 54%;
    width: 70%;
    gap: 4vw;
}
#modelsimg:nth-last-child(2){
    width: 50%;
}

#page4 div h1{
    font-size: 50px;
}

#part5{
    height: 100%;
    width: 100%;
}

#part5 img{
    height: 97%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    padding: 0 4vw;
}

#part6{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
}

#part6-leftpart {
    height: 100%;
    width: 100%;
}

#part6-leftpart img{
    height: 92%;
    width: 90%;
    object-fit: cover;
}

#part6-rightpart{
    height: 100%;
    width: 70%;
}

#part6-rightpart img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#part6-rightparttxt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

#marque{
    width: 100%;
    padding: 0.8vw;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    font-family: monument;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#blog{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 4.5vw;
    padding: 4vw 3.5vw;
}

#blogleftpart{
    text-transform: uppercase;
}

#blogmiddlepart img{
    height: 80%;
    width: 97%;
    margin-top: 2vw;
    object-fit: cover;
}

#blogmiddlepart span{
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 1.5vw;
    padding: 0 0.4vw;
    margin-right: 1vw;
}

#blogrightpart img{
    height: 80%;
    width: 100%;
    margin-top: 2vw;
    object-fit: cover;
    object-position: top;
}

#blogrightpart span{
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 1.5vw;
    padding: 0 0.4vw;
    margin-right: 1vw;
}
